$btn-color: #aa43ff;
$width-btn: 100px;
$height-btn: 35px;
$font-size-btn: 1.5em;

.btn1 {
   background-color: $btn-color;
   width: $width-btn;
   height: $height-btn;
   font-size: $font-size-btn;
}

.btn2 {
   background-color: $btn-color;
   width: $width-btn;
   height: $height-btn;
   font-size: $font-size-btn;
}