@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 3em;
   margin-bottom: 10px;
}

.buttons {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   gap: 20px;
   }

button {
   padding: 5px 15px;
   background-color: rgb(49, 38, 38);
   color: white;
   border: 2px solid transparent;
   border-radius: 5px;
   font-size: 1em;
   font-family: 'Roboto', sans-serif;
}

button:hover {
   border-color: rgba(255, 0, 0, 0.541);
}

span {
   text-align: center;
}