body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color:#191919;
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}