.class1 {
   ul {
      background-color: red;
   }

   li {
      background-color: blue;
   }

   button {
      background-color: green;
      color: white;
      padding: 5px 15px;
      cursor: pointer;

      &:hover {
         background-color: red;
         transition: .5s;
      }
   }
}