.container {
   background-color: rgb(201, 182, 182);
   display: flex;
   gap: 30px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

img {
   height: 340px;
   border-radius: 5px;
}

.img {
   display: flex;
   align-items: center;
}

.texts {
   width: 400px;
}

h1 {
   text-align: center;
}

h1, p {
   margin-bottom: 25px;
}

p {
   text-indent: 15px;
   text-align: justify;
}

button {
   background-color: rgb(48, 37, 37);
   color: white;
   text-decoration: none;
   padding: 8px;
   border-radius: 5px;
   margin-right: 5px;
}