:root {
   --yellow:#f1c40f;
   --blue: #1d4369;
   --red: #e74c3c;
}

body {
   background-color: var(--blue);
}

h1 {
   color: white;
}

div#days-of-week h3 {
   color: var(--yellow);
}

div#days-of-week ul li {
   color: white;
}

div#activities h2 {
   background-color: var(--yellow);
   border: 1px solid black;
}

div#activities ul li {
   color: white;
}

div#activities ul li#astronomy-class {
   color: var(--red);
}