/*
Fontes utilizadas:

1. Elemento H1 = Montserrat
2. Elementos com a classe date = Roboto
3. Elementos com a classe post-content = Open Sans

Cores:

1. Background dos posts = 
2. Cor da data = #008080 
*/
* {
   padding: 0;
   margin: 0;
}

.post-container {
   background-color: #f8e8e8;
   margin: 30px 200px;
}

.post {
   padding: 15px;
}

.date {
   font-family: 'Roboto', sans-serif;
   font-size: 0.9em;
   padding: 12px;
}

.post h1 {
   font-family: 'Montserrat', sans-serif;
   padding: 12px;
}

.post-content {
   font-family: 'Open Sans', cursive;
   font-size: 0.9em;
   padding: 12px;
}