* {
   padding: 0;
   margin: 0;
}

.container {
   min-height: 100vh;
   background-color: gray;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr 1fr;
   grid-auto-rows: minmax(310px, auto);
   gap: 10px;
}

.item {
   background-color: white;
   font-size: 30px;
   border: 2px solid black;
   padding: 8px;
}